Makefile*

Makefile.Debug*

Makefile.Release*

*.user*

*.obj

/main/qt/MatisseCommon/tmp

/Doc

/main/qt/MatisseServer/temp

*.pdb

/main/qt/MatisseTools/tmp

*.dll

*.lib

*.exp
*.manifest
*.autosave
/Build*
/Run/
/Src/.vs*
out
.vs
.vs
/.vs
/Src/MatisseGui/MatisseServer.aps
/.vs/VSWorkspaceState.json
*.vscode/
*matisse_build/
