/*
* Bleu          #4a8adc 74,138,220
* Bleu foncé	#2972cf
* Vert foncé	#19ab86
* Vert          #37bc9b
* Gris clair	#f5f7fa 245,247,250
* Gris moyen	#7c828c
* Gris foncé	#5c646e
* Gris foncé +	#434a54
* Gris foncé++  #424c58
* Noir          #252a31
* Rouge         #c2202f
* Orange        #ce3119
* Jaune         #f6bb42 246,187,66
* Jaune foncé	#e7a213
* Mauve         #967adc 150,122,220
* Mauve foncé   #7a61b9
*/

/************************/
/*** Generic Widgets ***/
/************************/
QWidget{
   background-color: #434a54;  
}
/*Not matching HROV value but generating ugly results with QToolBar*/


/* Debug layout

/*QMainWindow#_MW_assemblyGui {
    margin: 0;
    padding: 0;
}*/


QWidget#_MCB_controllBar {
    margin: 0;
    padding: 0;
    border: none;
    /*border: 1px solid yellow;*/
}

QWidget#centralwidget {
    border: none;
    /*border: 1px solid red;*/
}


/* WELCOME DIALOG */
QWidget#progModeLauncherButton {
    background-color: #e7a213;
    color: black;
    border: none;
}

QWidget#realTimeModeLauncherButton {
    background-color: #4a8adc;
    color: black;
    border: none;
}

QWidget#configModeLauncherButton {
    background-color: #5c646e;
    color: black;
    border: none;
}

QWidget#deferredTimeModeLauncherButton {
    background-color: #7a61b9;
    color: black;
    border: none;
}

QWidget#_TBU_welcomeCloseButton {
    border: none;
}

QWidget#_LA_matisseWelcomeLabel {
    background-color: #434a54;
    color: #f5f7fa;
    font-family: "Arial";
    font-weight: normal;
    font-size: 28px;
}


/* MAIN CONTROLL BAR */
QWidget#_LAB_matisseVersion {
    color: #f5f7fa;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 700;
}

QWidget#visuModeWidget QWidget {
    background-color: #252a31;
}

QWidget#ongoingProcessWidget {
    background-color: #252a31;
}

QWidget#ongoingProcessWidget QWidget {
    background-color: #252a31;
}

/* L&F des popup de menu statiques et contextuels */
QMenu {
    /*background: #252a31;*/ /* noir pour marquer le tour de la popup (margin) */
    background-color: #424c58;
    margin: 5px; /* impossible de régler individuellement les marges */
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: normal;
}

QMenu::item {
    background-color: #424c58;
    padding: 1px 20px 1px 20px;
    color: #f5f7fa;
    border: 2px solid #424c58; /* bordure confondue avec le fond pour éviter le
                                 décalage de 2px à la sélection */
}

QMenu::separator {
    height: 2px;
    background: #f5f7fa;
    margin-left: 20px;
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

QMenu::item:disabled {
    color: #7c828c; /* gris foncé+ pour contraster avec le fond bleu et violet des modes RT/DT */
}

QMenu::item:disabled:selected {
    border: 2px solid #424c58; /* bordure masquée car confondue avec le fond */
}

/* STOP button */
QWidget#_TBU_stopButton {
    border: none;
}

/* ARBRE DES ASSEMBLAGES ET TACHES */
QTreeView {
   alternate-background-color: #434a54;
   color: #f5f7fa;
   font-family: "Montserrat";
   font-size: 12px;
   font-weight: normal;
}

QWidget#_TRW_assemblies{
    margin: 0;
}
/*
QSplitter#splitter {
    background: red;
}

QSplitter#splitter::handle:horizontal {
    height: 0px;
}
*/

/* VUE CARTO */
/* couleur de fond */
/* Provisoire : gérer la transparence pour le fond de carte */
QWidget#_LA_resultImage {
    background: #f5f7fa;
}

/* VUE CREATION */
/* couleur de fond */
QGraphicsView{
    /*background: #f5f7fa;*/
    background: #252A31;
}

QGraphicsView:disabled {
    background: #7c828c;
}


/* ONGLETS */
QTabWidget{
    /*border: 2px solid #7c828c;*/
    /*border: 2px solid blue;*/
}

QWidget#_SW_helperTabSets {
    border: none;
    /*border: 1px solid blue;*/
    margin: 0;
}

QTabWidget::pane {
    /* border: 1px solid red;*/
    padding: 0;
}

QTabWidget::tab-bar {
    width: 280px; /* étend au max la tabbar et les boîtes d'onglets */
}

/*
QTabBar {
    border: 1px solid red;
    padding: 0px;
    margin: 0;
}*/


QTabBar::tab {
    background: transparent;
    color: #7c828c;
    font-family: "Montserrat";
    font-size: 11px;
    font-weight:bold;
    border: none;
    /*border: 1px solid blue;*/
    width: 79px; /* taille max pour 3 onglets */
    margin: 0;
    padding: 7px 7px 7px 7px;
}

QTabBar::tab:hover {
    color: #f5f7fa;
    /* color: white; */
}

/* Alternance de couleur pour les listes d'éléments */
QListWidget {
    alternate-background-color: #7c828c;
    color: #f5f7fa;  /* Gris Clair  */
}

/* STATUS BAR */
QStatusBar {
    border: none;
    /*border: 1px solid green;*/
}

QStatusBar::item {
    border: none; /* permet de supprimer le séparateur après le widget (StatusMessageWidget) */
}

QWidget#_PB_resetMessages {
    border: none;
}


/* STYLES GENERIQUES */


QLabel
{
  background-color: none;
  border: none;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 700;
  color: #f5f7fa;  /* Gris Clair  */
}

/** QProgressBar **/
QProgressBar {
  border: none;
  background-color: #5c646e; /* Gris fonce  */
}

QProgressBar::chunk {
  background-color: #37bc9b; /* Vert  */
}  

QProgressBar:disabled {
  background-color: #252a31; 

}
QProgressBar::chunk:disabled {
  background-color: #5c646e; 
}

/** QPushButton **/
QPushButton {
  background-color: #434a54; 
  border: 2px solid #7c828c; /*Gris moyen  */
  font-family: "Montserrat";
  color: #f5f7fa;  /* Gris Clair  */
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  min-height: 26px;
}

QPushButton:pressed {
  background-color: #4a8adc; /* Bleu */
  border: none;
}

QPushButton:checked {
  background-color: #4a8adc;  /* Bleu */
  border: none;
}

QPushButton:hover {
   border: 2px solid #4a8adc;  /* Bleu */
}

QPushButton:flat {
     border: 2px solid #4a8adc;  /* Bleu */
}

/** GroupBox **/
QGroupBox {
     background-color: #5c646e; /* Gris fonce  */
     border: none;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 15;
 }

QGroupBox#_GB_userModeSelection {
    background: transparent; /* Gris moyen */
    padding: 0;
}



QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top center; /* position at the top center */
    padding-top: 2;
    color: rgb(124, 130, 140); /* Gris moyen */
 }

/* A quoi ça sert ? */
Line {
  color: #7c828c;
  border: none;
}


QComboBox
{
    font-family: "Montserrat";
    selection-background-color: #4a8adc;
    background-color: #252a31;
    border-style: solid;
    border: 1px solid #5c646e;
    border-radius: 2px;
    padding: 2px;
    min-width: 75px;
    color: #f5f7fa;
}

QComboBox:hover,QPushButton:hover,QAbstractSpinBox:hover,QLineEdit:hover,QTextEdit:hover,QPlainTextEdit:hover,QAbstractView:hover,QTreeView:hover
{
    border: 1px solid #7c828c;
    color: #f5f7fa;
}

QComboBox:on
{
    background-color: #5c646e;
    padding-top: 3px;
    padding-left: 4px;
    selection-background-color: #434a54;
}

QComboBox QAbstractItemView
{
    background-color: #252a31;
    border-radius: 2px;
    border: 1px solid #444;
    selection-background-color: #4a8adc;
    color: #f5f7fa;
}

QComboBox::drop-down
{
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 15px;

    border-left-width: 0px;
    border-left-color: darkgray;
    border-left-style: solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

QComboBox::down-arrow
{
    image: url(:/qss_icons/rc/down_arrow_disabled.png);
}

QComboBox::down-arrow:on, QComboBox::down-arrow:hover,
QComboBox::down-arrow:focus
{
    image: url(:/qss_icons/rc/down_arrow.png);
}


QAbstractSpinBox {
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #4a8adc;
    background-color: #252a31;
    color: #f5f7fa;
    border-radius: 2px;
    min-width: 75px;
}

QTableWidget {
    background-color: #252a31;
    font-family: "Montserrat";
    font-size: 12px;
    color: #f5f7fa;
}

QTableWidget::item {
    border: 2px solid #f5f7fa;
}

QLineEdit
{
    background-color: #252a31;
    padding: 2px;
    border-style: solid;
    border: 1px solid #f5f7fa;
    border-radius: 2px;
    color: #f5f7fa;
}

QAbstractSpinBox:up-button
{
    background-color: transparent;
    subcontrol-origin: border;
    subcontrol-position: center right;
}

QAbstractSpinBox:down-button
{
    background-color: transparent;
    subcontrol-origin: border;
    subcontrol-position: center left;
}

QAbstractSpinBox::up-arrow,QAbstractSpinBox::up-arrow:disabled,QAbstractSpinBox::up-arrow:off {
    image: url(:/qss_icons/rc/up_arrow_disabled.png);
    width: 10px;
    height: 10px;
}
QAbstractSpinBox::up-arrow:hover
{
    image: url(:/qss_icons/rc/up_arrow.png);
}


QAbstractSpinBox::down-arrow,QAbstractSpinBox::down-arrow:disabled,QAbstractSpinBox::down-arrow:off
{
    image: url(:/qss_icons/rc/down_arrow_disabled.png);
    width: 10px;
    height: 10px;
}
QAbstractSpinBox::down-arrow:hover
{
    image: url(:/qss_icons/rc/down_arrow.png);
}

QCheckBox:disabled
{
    color: #434a54;
}

QCheckBox, QRadioButton
{
    padding: 3px;
    outline: none;
}

QRadioButton {
    color: #f5f7fa;
}

/*QRadioButton::indicator {
    color: #f5f7fa;
}*/

QCheckBox::indicator, QGroupBox::indicator, QMenu::indicator:non-exclusive{
    color: #7c828c;
    background-color: #252a31;
    border: 1px solid #f5f7fa;
}

QCheckBox::indicator, QMenu::indicator:non-exclusive{
    width: 12px;
    height: 12px;
    background-color: #434a54;
}



QRadioButton::indicator
{
    border-radius: 5px;
    width: 12px;
    height: 12px;
    background-color: #252a31;
    border: 1px solid #f5f7fa;
}

QRadioButton::indicator:checked {
    image:url(:/qss_icons/rc/radio_checked.svg);
}

QCheckBox::indicator:pressed
{
    border: 1px solid #7c828c;
}

QRadioButton::indicator:hover, QCheckBox::indicator:hover
{
    border: 1px solid #7c828c;
}

QCheckBox::indicator:checked, QGroupBox::indicator:checked, QMenu::indicator:non-exclusive:checked
{
    image:url(:/qss_icons/rc/checkbox.png);
}

QCheckBox::indicator:disabled, QRadioButton::indicator:disabled
{
    border: 1px solid #434a54;
}

QCheckBox::indicator:indeterminate {
    image: url(:/qss_icons/rc/checkbox_indeterminate.png);
}


QTextEdit {
    color: white;
    background: #252a31;
}


