/*
*
* Feuille de style spécifique au mode DEPOUILLEMENT
*
/

/* MAIN CONTROLL BAR */
QWidget#homeWidget QWidget {
   background-color: #967adc;
   border: none;
}

QWidget#matisseVersionWidget {
    background-color: #7a61b9;
}

QWidget#matisseVersionWidget QWidget {
    background-color: #7a61b9;
    border: none;
}

QWidget#mainMenuWidget {
    background-color: #7a61b9;
}

QProgressBar::chunk {
    background-color: #7a61b9;
    width: 10px;
    border-radius: 2px;
    margin: 0.5px;
}

/* Parameters fold/unfold widget */
QWidget#_PB_parameterFold {
    background-color: #7a61b9;
    border: none;
}


/* Customisation des menus et menus contextuels */
QMenuBar {
    background-color: #7a61b9;
    color: #f5f7fa;
    font-size: 10pt;
    font-weight: bold;
}

QMenuBar::item {
    background: #7a61b9;
}

QMenu::item:selected {
    border: 2px solid #7a61b9;
}

/* COULEURS DE SELECTION : ARBRES ET LISTES */
QTreeView::item:selected, QTreeView::item:hover, QListWidget::item:selected, QListWidget::item:hover {
    border: 1px solid rgb(150,122,220);
    padding-left: -1px;
    color: #f5f7fa;
}

QTreeView::item:selected:active, QListWidget::item:selected:active {
    background: rgba(150,122,220,60%);
}

QTreeView::item:selected:!active, QListWidget::item:selected:!active {
    background: rgba(150,122,220,45%);
}

QTreeView::item:hover, QListWidget::item:hover {
    background: rgba(150,122,220,20%);
}


/* BUTTONS */
QPushButton:pressed {
  background-color: #7a61b9;
  border: none;
}

QPushButton:checked {
  background-color: #7a61b9;
  border: none;
}

QPushButton:flat {
     border: 2px solid #7a61b9;
}


/* ONGLETS */
QTabBar::tab:selected {
    margin: 0;
    background: #7a61b9;
    color: #f5f7fa;
}

